.burger--init {
    cursor: default;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

.burger--hide {
    @include burger--hide();
}

.burger--show {
    @include burger--show();
}

@keyframes fade-in {
    0% {
        @include element--big();
    }
    100% {
        @include element--normal();
    }
}

@keyframes fade-out {
    0% {
        @include element--normal();
    }
    100% {
        @include element--small();
    }
}
