footer {
    background-color: var(--clr-dark);
    min-height: 19em;
    padding: 0.5em 0;

    .first-paragraph {
        display: flex;
        position: relative;
        top: 4em;
        justify-content: center;
        padding: 2em 0;
    }

    .second-paragraph {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        justify-content: center;
        bottom: -7em;
        padding: 0;
        margin: 0 auto;

        @media (min-width: $breakpoint-desktop) {
            bottom: -7.5em;
            flex-direction: row-reverse;
        }
    }

    .icons {
        margin: 0;
        padding: 0 0.5em;
        color: var(--clr-light);
        display: inline-flex;

        svg {
            font-size: $fs-h2;
            padding: 0 0.15em;
        }
    }

    .powered-by {
        @include font(var(--ff-side), $fs-xs, var(--clr-light));
    }

    .copyright {
        display: flex;
        margin: 0 2em;
        text-align: center;
        justify-content: center;
        opacity: 0.8;
        @include font(var(--ff-side), $fs-xxs, var(--clr-accent));
    }

    .terms-of-service {
        display: flex;
        margin: 0 2em -1.65em;
        text-align: center;
        justify-content: center;
        @include font(var(--ff-side), $fs-xxs, var(--clr-accent-dark));
    }
}
