#root {
    min-width: $breakpoint-minimum;

    display: grid;
    grid-template-rows: auto auto 11em;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.post {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "hero"
        "sticky-title"
        "left-sidebar"
        "post-content"
        "right-sidebar"
        "comments";

    @media (min-width: $breakpoint-desktop) {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
        grid-template-areas:
            "hero hero hero hero hero"
            "sticky-title sticky-title sticky-title sticky-title sticky-title"
            "left-sidebar left-sidebar post-content right-sidebar right-sidebar"
            ". . comments . .";
    }
}

.hero {
    grid-area: hero;
}

.right-sidebar {
    grid-area: right-sidebar;
    justify-self: center;

    @media (min-width: $breakpoint-mobile) {
        max-width: 40em;
    }

    @media (min-width: $breakpoint-desktop) {
        justify-self: left;
    }
}

.left-sidebar {
    grid-area: left-sidebar;

    @media (min-width: $breakpoint-desktop) {
        justify-self: right;
    }
}

.sticky-title {
    grid-area: sticky-title;
}

.post-content {
    grid-area: post-content;
    width: calc(100vw - 4.5em);
    justify-self: center;

    @media (min-width: $breakpoint-mobile) {
        max-width: 40em;
    }
}

.comments {
    grid-area: comments;
    width: calc(100vw - 1em);
    justify-self: center;

    @media (min-width: $breakpoint-mobile) {
        width: calc(100vw - 15%);
        max-width: 40em;
    }

    @media (min-width: $breakpoint-mobile) {
        width: calc(100vw - 20%);
    }
}
