.right-sidebar {
    display: flex;
    margin: 0 1.25em;

    .tags-wrapper {
        padding: 2em 0 0 0;

        .sidebar-tags {
            display: inline-flex;
            margin: 0em 0.25em;
            background-color: var(--clr-brand);
            border-radius: 1.25em;
            padding: 0.05em 0.8em 0.025em 0.8em;
            white-space: nowrap;
            @include font(var(--ff-side), $fs-xs, var(--clr-light));
        }
    }

    @media (min-width: $breakpoint-mobile) {
        display: flex;
        text-align: left;
        padding: 2em 0.5em 0 2em;
        margin: 0 0 1em;
        top: 7em;
        position: sticky;

        .tags-wrapper {
            padding: 1em 0 2em 2em;
            text-align: right;

            .sidebar-tags {
                margin: 0 0.15em;
                display: inline-flex;
                @include font(var(--ff-side), $fs-xs, var(--clr-light));
            }
        }
    }
}

.left-sidebar {
    display: flex;
    position: sticky;
    top: 3em;
    height: 2em;
    margin: 0 1.5em 0 0;
    flex-direction: column;
    align-items: flex-end;
    z-index: 10;

    .post-date {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;

        h3 {
            text-align: right;
            @include font(var(--ff-side), $fs-small, var(--accent-dark));
        }

        .moment-date {
            margin-left: 0.5em;
        }
    }

    .post-author {
        opacity: 0;

        .hero-profile {
            padding: 0;
            margin: 0.5em 0;

            p {
                position: relative;
                top: -3.25em;
                left: -4.25em;
            }

            .img-wrapper {
                text-align: right;
                padding: 0 1em 0 0;

                img {
                    width: 3em;
                    border: 0.25em solid var(--clr-secondary);
                    border-radius: 50%;
                }
            }

            .hero-name {
                margin: 0 1em 5em;
                text-align: center;
                @include font(var(--ff-side), $fs-base, var(--clr-secondary));
                font-weight: 600;
            }
        }
    }

    .post-stats {
        position: relative;
        top: 2.5em;
        left: 0;
        display: none; /* Need to fix this, was GRID but the icons are all over the place */
        grid-template-columns: 1.25em 3em 3em 2em 2em;
        grid-template-rows: 2em;
        grid-template-areas: ". comments likes bookmark facebook twitter";

        .sidebar-links {
            margin: 0;
            text-align: right;
            height: 2.25em;

            &__comments {
                grid-area: comments;
                text-align: right;

                .far,
                .fab {
                    padding-top: 0.65em !important;
                }
            }

            &__likes {
                grid-area: likes;
                text-align: right;
            }

            &__bookmark {
                grid-area: bookmark;
                text-align: left;
            }

            &__twitter {
                grid-area: twitter;
                text-align: left;
            }

            &__facebook {
                grid-area: facebook;
                text-align: left;
            }

            .comments-count,
            .likes-count {
                position: relative;
                font-weight: 600;
                @include font(var(--ff-side), $fs-small, var(--clr-secondary));
            }

            .comments-count {
                top: -0.15em;
                width: 2em;
                z-index: -1;
                font-style: normal;
            }

            .far,
            .fab {
                width: 1.5em;
                text-align: center;
                font-size: $fs-h5;
                color: var(--accent-dark);
                padding: 0.5em 0 0.5em 0.5em;
            }

            .liked {
                color: var(--clr-secondary);
            }

            .likes-count {
                top: 0;
                padding: 0 0 0 0.5em;
                z-index: -1;
                font-style: normal;
            }

            .sidebar-icon:hover {
                cursor: pointer;
                color: var(--clr-secondary);
            }
        }

        @media (min-width: $breakpoint-mobile) {
            position: unset;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 2em 2em 2em;
            grid-template-areas:
                ". comments bookmark"
                ". likes facebook"
                ". . twitter";

            .sidebar-links {
                &__comments {
                    grid-area: comments;
                    text-align: right;

                    .far,
                    .fab {
                        padding-top: 0;
                    }
                }

                .likes-count {
                    top: -0.05em;
                    z-index: -1;
                    font-style: normal;
                }

                .comments-count {
                    top: -0.25em;
                    z-index: -1;
                    font-style: normal;
                }
            }
        }
    }

    @media (min-width: $breakpoint-mobile) {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 7em;
        height: 42em;
        text-align: right;
        padding: 1.5em 3em 2em;
        margin: 0;
        z-index: unset;

        .post-date {
            display: flex;
            width: 100%;
            justify-content: flex-end;

            h3 {
                margin: 0;
                @include font(var(--ff-side), $fs-base, var(--accent-dark));
            }
        }

        .post-author {
            opacity: 1;
            display: flex;
            width: 100%;
            justify-content: flex-end;

            .hero-profile {
                padding: 0;
                margin: 1em 0 0;

                p {
                    text-align: right;
                    position: initial;
                }

                .img-wrapper {
                    padding: 0;
                    img {
                        width: 4em;
                        border: 0.25em solid var(--clr-secondary);
                        border-radius: 50%;
                        text-align: right;
                    }
                }

                .hero-name {
                    margin: 0 0 5em;
                    @include font(
                        var(--ff-side),
                        $fs-base,
                        var(--clr-secondary)
                    );
                    font-weight: 600;
                }
            }
        }

        .post-stats {
            display: block;
            width: 100%;
            margin: 0;

            .sidebar-links {
                margin: 0;
                text-align: right;
                height: 2.25em;
            }
        }
    }
}
