.right-sidebar {
    display: flex;
    margin: 3em 1.5em 0;

    .tags-wrapper {
        padding: 0;

        .sidebar-tags {
            display: inline-flex;
            margin: 0em 0.25em;
            background-color: var(--clr-brand);
            border-radius: 1.25em;
            padding: 0.05em 0.8em 0.025em 0.8em;
            white-space: nowrap;
            @include font(var(--ff-side), $fs-xs, var(--clr-light));
        }
    }

    @media (min-width: $breakpoint-desktop) {
        position: sticky;
        top: 6em;
        height: fit-content;
        margin: 0 0 0 1em;

        .tags-wrapper {
            padding: 1em 0 0 0;
            text-align: right;

            .sidebar-tags {
                display: inline-flex;
                @include font(var(--ff-side), $fs-xs, var(--clr-light));
            }
        }
    }
}

.left-sidebar {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 1.5em;

    .post-date {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -1.25em;
        right: 1.75em;
        width: 100%;
        justify-content: flex-end;

        h3 {
            padding: 0;
            margin: 0;
            text-align: right;
            @include font(var(--ff-side), $fs-small, var(--clr-accent-dark));
        }

        .moment-date {
            margin-left: 0.5em;
        }
    }

    .post-author {
        display: none;
        width: 100%;
        margin: 2em 0 0;
        justify-content: flex-end;

        .hero-profile {
            padding: 0;
            margin: 0.5em 0;

            p {
                position: relative;
                top: -3.25em;
                left: -4.25em;
                text-align: right;
            }

            .img-wrapper {
                text-align: center;
                flex-grow: 1;
                padding: 0;

                img {
                    width: 4em;
                    border: 0.25em solid var(--clr-brand);
                    border-radius: 50%;
                }
            }

            .hero-name {
                margin: 0;
                text-align: center;
                @include font(var(--ff-side), $fs-base, var(--clr-brand));
                font-weight: 600;
            }
        }
    }

    .post-stats {
        display: none;
        position: relative;
        top: 2.5em;
        left: 0;
        grid-template-columns: 1.25em 3em 3em 2em 2em;
        grid-template-rows: 2em;
        grid-template-areas: ". comments likes bookmark facebook twitter";

        .sidebar-links {
            margin: 0;
            text-align: right;
            height: 2.25em;

            &__comments {
                grid-area: comments;
                text-align: right;

                .far,
                .fab {
                    padding-top: 0.65em !important;
                }
            }

            &__likes {
                grid-area: likes;
                text-align: right;
            }

            &__bookmark {
                grid-area: bookmark;
                text-align: left;
            }

            &__twitter {
                grid-area: twitter;
                text-align: left;
            }

            &__facebook {
                grid-area: facebook;
                text-align: left;
            }

            .comments-count,
            .likes-count {
                position: relative;
                font-weight: 400;
                @include font(var(--ff-brand), $fs-base, var(--clr-brand));
            }

            .comments-count {
                top: -0.15em;
                width: 2em;
                z-index: -1;
                font-style: normal;
            }

            .far,
            .fab {
                width: 1.5em;
                text-align: center;
                font-size: $fs-h5;
                color: var(--clr-accent-dark);
                padding: 0.5em 0 0.5em 0.5em;
            }

            .liked {
                color: var(--clr-brand);
            }

            .likes-count {
                top: 0;
                padding: 0 0 0 0.5em;
                z-index: -1;
                font-style: normal;
            }

            .sidebar-icon:hover {
                cursor: pointer;
                color: var(--clr-brand);
            }
        }
    }

    @media (min-width: $breakpoint-mobile) {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "post-author post-date post-stats";
        align-items: center;
        width: 100%;
        margin: 0 0 1em;
        padding: 0;

        .post-date {
            grid-area: post-date;
            display: inline-flex;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            align-self: auto;
            justify-content: center;

            h3 {
                @include font(var(--ff-side), $fs-base, var(--clr-accent-dark));
            }
        }

        .post-author {
            grid-area: post-author;
            display: inline-flex;
            top: 0;
            margin: 0;
            padding: 0;
            align-self: auto;

            .hero-profile {
                padding: 0;
                margin: 0;
                height: 4em;

                p {
                    text-align: right;
                    padding: 0 1em 0 0;
                }

                .img-wrapper {
                    text-align: center;
                    flex-grow: 1;
                    padding: 0;

                    img {
                        width: 4em;
                        border: 0.25em solid var(--clr-brand);
                        border-radius: 50%;
                    }
                }

                .hero-name {
                    margin: 0;
                    @include font(var(--ff-side), $fs-base, var(--clr-brand));
                    font-weight: 600;
                }
            }
        }

        .post-stats {
            grid-area: post-stats;
            display: inline-flex;
            top: 0;
            margin: 0;
            padding: 0;
            align-self: auto;

            .sidebar-links {
                margin: 0;
                padding: 0;
                text-align: right;
            }
        }
    }

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        position: sticky;
        flex-direction: column;
        top: 5.6em;
        height: fit-content;
        padding: 0 2em 30em;

        .post-date {
            top: 1.25em;
            justify-content: flex-end;
        }

        .post-author {
            margin: 2em 0 0;
            justify-content: flex-end;

            .hero-profile {
                padding: 0;
                margin: 0;
                height: 6em;

                p {
                    text-align: left;
                    position: initial;
                    padding: 0;
                }
            }
        }

        .post-stats {
            flex-direction: column;
            top: 1em;
            align-self: flex-end;
        }
    }
}

.post--preview {
    .post-date {
        display: flex;
        position: absolute;
        top: 23em;
        right: 1.75em;
        width: 100%;
        justify-content: flex-end;

        h3 {
            padding: 0;
            margin: 0;
            text-align: right;
            @include font(var(--ff-side), $fs-small, var(--clr-accent-dark));
        }

        .moment-date {
            margin-left: 0.5em;
        }

        @media (min-width: $breakpoint-mobile) {
            top: 27em;
        }

        @media (min-width: $breakpoint-desktop) {
            top: 31em;
        }
    }
}
