.post-container--more {
    position: relative;
    margin-bottom: -1em;
}

.post--readmore {
    @include font(var(--ff-title), $fs-small, var(--clr-dark));
    position: relative;
    top: -2em;
    width: 7em;
    margin-left: auto;
    margin-right: 1.5em;
    text-align: center;
    border-radius: 0.5em;
    background-color: var(--clr-brand);
    cursor: pointer;
    transition: all ease-in-out 250ms;

    @media (min-width: $breakpoint-mobile) {
        @include font(var(--ff-title), $fs-normal, var(--clr-dark));
    }

    @media (min-width: $breakpoint-desktop) {
        @include font(var(--ff-title), $fs-normal, var(--clr-dark));
    }

    > a {
        color: var(--clr-light);
        font-weight: 400;
        text-decoration: none;
    }

    &:hover {
        transition: all ease-in-out 250ms;
        background-color: var(--clr-dark);
        opacity: 0.9;
    }
}

.sticky-title {
    display: flex;
    position: sticky;
    top: 0;
    padding: 0 1em;
    align-items: center;
    justify-content: space-around;

    @media (min-width: $breakpoint-mobile) {
        padding: 0;
        margin: 0 7.5em;
        justify-content: center;
    }

    @media (min-width: $breakpoint-desktop) {
        margin: 0 18em;
    }

    h1 {
        padding: 2em 0;
    }
}

.stuck-title {
    margin: 0;
    padding: 0.75em 1.75em 0 0;
    background-color: var(--clr-light);
    justify-content: flex-end;
    z-index: 1;

    @media (min-width: $breakpoint-mobile) {
        padding: 0.75em 0 0;
        justify-content: center;
    }

    h1 {
        padding: 0;
    }

    .post-title {
        @include post-title--tiny();
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-align: right;
        width: 70vw;
        height: 2.25em;
        align-self: center;
        transition: font-size 350ms ease-out;

        @media (min-width: $breakpoint-mobile) {
            @include post-title--small();
            width: 75vw;
            height: 1.75em;
            padding: 0;
            justify-content: center;
        }
    }
}

.unstuck-title {
    .post-title {
        @include post-title--small();
        transition: font-size 250ms ease-out;

        @media (min-width: $breakpoint-mobile) {
            @include post-title--medium();
        }

        @media (min-width: $breakpoint-desktop) {
            @include post-title--big();
        }
    }
}

.post-subtitle {
    text-transform: uppercase;
    font-weight: bold;
    @include font(var(--ff-subtitle), $fs-h5, var(--clr-dark));
}

.post-note {
    background-color: var(--clr-accent);
    padding: 1em 2em;
    margin: 2em 0;
    border-radius: 0.5em;
    border-left: 1em solid var(--clr-brand);
    @include font(var(--ff-notes), $fs-small, var(--clr-dark));
}

@keyframes grow-text-animation {
    0% {
        @include post-title--small();
    }
    50% {
        color: rgba(0, 0, 0, 0.2);
    }
    100% {
        @include post-title--big();
    }
}

.no-more-posts {
    display: flex;
    border-top: 0.1em solid var(--clr-accent);
    padding: 0 2em;
    min-height: calc(100vh / 2);

    .wrapper {
        flex-grow: 1;
        max-width: 100vw;
    }

    h1 {
        margin: 1em 0 -1em;
        line-height: 2.5em;
        @include font(var(--ff-side), $fs-h5, var(--clr-dark));
    }

    p {
        @include font(var(--ff-notes), $fs-small, var(--clr-accent-dark));
    }

    @media (min-width: $breakpoint-mobile) {
        justify-content: center;

        .wrapper {
            max-width: 40em;
        }

        h1 {
            @include font(var(--ff-side), $fs-h4, var(--clr-dark));
        }

        p {
            @include font(var(--ff-notes), $fs-small, var(--clr-accent-dark));
        }
    }

    @media (min-width: $breakpoint-desktop) {
        .wrapper {
            max-width: 50em;
        }
    }
}
