@import url("https://fonts.googleapis.com/css?family=Slabo+27px:400");
@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400");
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Asap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Coustard&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap");
:root {
  --msg-code-copied: "CODE COPIED!";
  --url-img-service: "https://unsplash.it/1920"; }

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #ffffff;
  --clr-accent: #e6e6e6;
  --clr-accent-dark: #808080;
  --clr-primary: #0071bc;
  --clr-secondary: #18448e;
  --clr-tertiary: rgb(124, 186, 200);
  --clr-brand: #30bf6d;
  --clr-alert: #96051d;
  --clr-warning: rgb(255, 196, 24); }

* {
  box-sizing: border-box; }

body {
  color: black;
  font-size: 1.1rem;
  font-family: "Fira Sans", "Trebuchet MS", "Arial", sans-serif; }

body,
#root {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1.6;
  max-width: 100%; }

img {
  max-width: 100%; }

code {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  white-space: break-spaces; }

:root {
  --ff-pablomag: "Coustard", sans-serif;
  --ff-title: "Slabo 27px", serif;
  --ff-subtitle: "Bitter", serif;
  --ff-body: "Fira Sans", sans-serif;
  --ff-side: "Asap", sans-serif;
  --ff-notes: "Oxygen", sans-serif;
  --ff-code: "Inconsolata", monospace;
  --ff-logo: "Nunito Sans ExtraBold"; }

.burger--init {
  cursor: default;
  opacity: 0;
  user-select: none;
  pointer-events: none; }

.burger--hide {
  cursor: default;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  animation: fade-out 200ms ease-in !important; }

.burger--show {
  cursor: pointer;
  opacity: 1;
  animation: fade-in 400ms ease-out !important; }

@keyframes fade-in {
  0% {
    opacity: 0;
    font-size: 4.675rem;
    margin-top: -3em;
    margin-left: -3em; }
  100% {
    opacity: 1;
    font-size: 1.2rem;
    margin-top: 0;
    margin-left: 0; } }

@keyframes fade-out {
  0% {
    opacity: 1;
    font-size: 1.2rem;
    margin-top: 0;
    margin-left: 0; }
  100% {
    opacity: 0;
    font-size: 0.8rem;
    margin-top: -3em;
    margin-left: 0; } }

.btn {
  cursor: pointer;
  padding: 0.5em 2em;
  margin: 1em 2em;
  border-radius: 0.5em;
  text-align: center;
  user-select: none; }

.btn-controls {
  background-color: var(--clr-secondary);
  color: var(--clr-light); }
  .btn-controls:hover, .btn-controls:active {
    background-color: var(--clr-light);
    color: var(--clr-dark); }

.btn-submit {
  background-color: var(--clr-primary);
  color: var(--clr-light); }
  .btn-submit:hover, .btn-submit:active {
    background-color: var(--clr-light);
    color: var(--clr-primary); }

.btn-preview {
  background-color: var(--clr-accent-dark);
  color: var(--clr-light); }
  .btn-preview:hover, .btn-preview:active {
    background-color: var(--clr-light);
    color: var(--clr-accent); }

.btn--link {
  text-decoration: none; }

.code-block {
  line-height: 1.2em;
  font-family: var(--ff-code); }

.code-block-copy {
  position: relative;
  float: right;
  top: 1.5em;
  right: 0.5em;
  color: var(--clr-light);
  cursor: pointer; }

.dynamic-tooltip {
  font-style: normal;
  float: right;
  margin-top: -0.75em;
  margin-right: -1em; }

.tooltip-copied:after {
  content: var(--msg-code-copied);
  display: flex;
  opacity: 0;
  background: var(--clr-brand);
  width: max-content;
  height: max-content;
  letter-spacing: 0.025em;
  padding: 0.2em 1em;
  font-size: 0.8rem;
  color: var(--clr-light);
  border-radius: 0.3em;
  box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.35);
  animation: show-tooltip-animation 750ms ease-out;
  transform-origin: 0 55px; }

@keyframes show-tooltip-animation {
  0% {
    opacity: 0;
    transform: scale(0); }
  15%,
  90% {
    opacity: 1;
    transform: scale(1);
    background: var(--clr-brand); }
  100% {
    opacity: 0; } }

.loader--container {
  display: flex;
  width: 100%;
  height: 100vh; }

.loader {
  margin: auto; }

#root {
  min-width: 320px;
  display: grid;
  grid-template-rows: auto auto 11em;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

.post {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "hero" "sticky-title" "left-sidebar" "post-content" "right-sidebar" "comments"; }
  @media (min-width: 1300px) {
    .post {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
      grid-template-areas: "hero hero hero hero hero" "sticky-title sticky-title sticky-title sticky-title sticky-title" "left-sidebar left-sidebar post-content right-sidebar right-sidebar" ". . comments . ."; } }

.hero {
  grid-area: hero; }

.right-sidebar {
  grid-area: right-sidebar;
  justify-self: center; }
  @media (min-width: 740px) {
    .right-sidebar {
      max-width: 40em; } }
  @media (min-width: 1300px) {
    .right-sidebar {
      justify-self: left; } }

.left-sidebar {
  grid-area: left-sidebar; }
  @media (min-width: 1300px) {
    .left-sidebar {
      justify-self: right; } }

.sticky-title {
  grid-area: sticky-title; }

.post-content {
  grid-area: post-content;
  width: calc(100vw - 4.5em);
  justify-self: center; }
  @media (min-width: 740px) {
    .post-content {
      max-width: 40em; } }

.comments {
  grid-area: comments;
  width: calc(100vw - 1em);
  justify-self: center; }
  @media (min-width: 740px) {
    .comments {
      width: calc(100vw - 15%);
      max-width: 40em; } }
  @media (min-width: 740px) {
    .comments {
      width: calc(100vw - 20%); } }

header {
  display: flex;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  padding: 0 2.5%;
  height: 5em;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 100%; }
  @media (min-width: 740px) {
    header {
      flex-direction: row;
      padding: 0; } }
  @media (min-width: 1300px) {
    header {
      flex-direction: row;
      padding: 0 7.5%; } }
  header .logo-svg {
    height: 1.5em;
    vertical-align: middle;
    width: 2.5em;
    padding: 0;
    margin: 0;
    animation: blurFadeInOut 250ms ease-in-out 500ms; }
  header .header-title {
    margin: 0 1em 0 1em; }
    header .header-title h1 {
      font-family: var(--ff-pablomag);
      font-size: 1.25rem;
      color: var(--clr-light);
      margin-right: 0;
      align-self: center;
      font-weight: 400;
      animation: blurFadeInOut 250ms ease-in-out 500ms; }
      @media (min-width: 740px) {
        header .header-title h1 {
          font-family: var(--ff-pablomag);
          font-size: 1.5rem;
          color: var(--clr-light); } }
      @media (min-width: 1300px) {
        header .header-title h1 {
          font-family: var(--ff-pablomag);
          font-size: 2.25rem;
          color: var(--clr-light); } }
  header .main-navigation {
    padding: 0;
    height: 0;
    width: 0; }
    header .main-navigation nav {
      font-family: var(--ff-pablomag);
      font-size: 0.8rem;
      color: var(--clr-light);
      letter-spacing: 0.035em;
      margin: 0 3em 0 auto; }
      header .main-navigation nav ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 0.15em; }
        header .main-navigation nav ul li {
          cursor: pointer;
          margin: 0;
          text-align: 0;
          margin-left: 2em;
          animation: blurFadeOut 200ms ease-in; }
        header .main-navigation nav ul li:hover {
          transform: scale(1.2);
          animation: blurFadeIn 400ms ease-out; }
    @media (min-width: 740px) {
      header .main-navigation {
        width: auto;
        height: auto;
        padding: 1.1em 0 0; }
        header .main-navigation nav {
          font-family: var(--ff-pablomag);
          font-size: 1rem;
          color: var(--clr-light); } }

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.75); }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1.25); }
  100% {
    opacity: 0.75;
    text-shadow: 0px 0px 50px #fff;
    -webkit-transform: scale(0.9); } }

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1.4); }
  50% {
    opacity: 0.5;
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.3); }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1.2); } }

@keyframes blurFadeOut {
  0% {
    text-shadow: 0px 0px 1px #fff;
    -webkit-transform: scale(1.25); }
  50% {
    text-shadow: 0px 0px 10px #fff;
    -webkit-transform: scale(1.15); }
  100% {
    text-shadow: 0px 0px 40px #fff;
    -webkit-transform: scale(1); } }

.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 22em; }
  .hero picture img,
  .hero picture source {
    object-fit: cover;
    object-position: top center;
    width: 100%;
    height: 100%; }
  @media (min-width: 740px) {
    .hero {
      height: 26em; } }
  @media (min-width: 1300px) {
    .hero {
      height: 30em; } }

.burger-wrapper {
  position: fixed;
  top: 1.5em;
  left: 1.7em;
  background-color: transparent;
  z-index: 100; }
  .burger-wrapper .burger {
    position: sticky;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding: 0.2em 0.6em 0.1em 0.6em;
    border-radius: 0.2em; }
    @media (max-width: 740px) {
      .burger-wrapper .burger {
        cursor: pointer;
        opacity: 1;
        animation: fade-in 400ms ease-out !important; } }

.main-navigation {
  display: none;
  cursor: default;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  animation: fade-out 200ms ease-in !important; }
  @media (min-width: 740px) {
    .main-navigation {
      display: flex;
      cursor: pointer;
      opacity: 1;
      animation: fade-in 400ms ease-out !important; } }

body,
main {
  font-family: var(--ff-body);
  font-size: 1.1rem;
  color: var(--clr-dark); }

.right-sidebar {
  display: flex;
  margin: 3em 1.5em 0; }
  .right-sidebar .tags-wrapper {
    padding: 0; }
    .right-sidebar .tags-wrapper .sidebar-tags {
      display: inline-flex;
      margin: 0em 0.25em;
      background-color: var(--clr-brand);
      border-radius: 1.25em;
      padding: 0.05em 0.8em 0.025em 0.8em;
      white-space: nowrap;
      font-family: var(--ff-side);
      font-size: 0.8rem;
      color: var(--clr-light); }
  @media (min-width: 1300px) {
    .right-sidebar {
      position: sticky;
      top: 6em;
      height: fit-content;
      margin: 0 0 0 1em; }
      .right-sidebar .tags-wrapper {
        padding: 1em 0 0 0;
        text-align: right; }
        .right-sidebar .tags-wrapper .sidebar-tags {
          display: inline-flex;
          font-family: var(--ff-side);
          font-size: 0.8rem;
          color: var(--clr-light); } }

.left-sidebar {
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 1.5em; }
  .left-sidebar .post-date {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -1.25em;
    right: 1.75em;
    width: 100%;
    justify-content: flex-end; }
    .left-sidebar .post-date h3 {
      padding: 0;
      margin: 0;
      text-align: right;
      font-family: var(--ff-side);
      font-size: 0.9rem;
      color: var(--clr-accent-dark); }
    .left-sidebar .post-date .moment-date {
      margin-left: 0.5em; }
  .left-sidebar .post-author {
    display: none;
    width: 100%;
    margin: 2em 0 0;
    justify-content: flex-end; }
    .left-sidebar .post-author .hero-profile {
      padding: 0;
      margin: 0.5em 0; }
      .left-sidebar .post-author .hero-profile p {
        position: relative;
        top: -3.25em;
        left: -4.25em;
        text-align: right; }
      .left-sidebar .post-author .hero-profile .img-wrapper {
        text-align: center;
        flex-grow: 1;
        padding: 0; }
        .left-sidebar .post-author .hero-profile .img-wrapper img {
          width: 4em;
          border: 0.25em solid var(--clr-brand);
          border-radius: 50%; }
      .left-sidebar .post-author .hero-profile .hero-name {
        margin: 0;
        text-align: center;
        font-family: var(--ff-side);
        font-size: 1.1rem;
        color: var(--clr-brand);
        font-weight: 600; }
  .left-sidebar .post-stats {
    display: none;
    position: relative;
    top: 2.5em;
    left: 0;
    grid-template-columns: 1.25em 3em 3em 2em 2em;
    grid-template-rows: 2em;
    grid-template-areas: ". comments likes bookmark facebook twitter"; }
    .left-sidebar .post-stats .sidebar-links {
      margin: 0;
      text-align: right;
      height: 2.25em; }
      .left-sidebar .post-stats .sidebar-links__comments {
        grid-area: comments;
        text-align: right; }
        .left-sidebar .post-stats .sidebar-links__comments .far,
        .left-sidebar .post-stats .sidebar-links__comments .fab {
          padding-top: 0.65em !important; }
      .left-sidebar .post-stats .sidebar-links__likes {
        grid-area: likes;
        text-align: right; }
      .left-sidebar .post-stats .sidebar-links__bookmark {
        grid-area: bookmark;
        text-align: left; }
      .left-sidebar .post-stats .sidebar-links__twitter {
        grid-area: twitter;
        text-align: left; }
      .left-sidebar .post-stats .sidebar-links__facebook {
        grid-area: facebook;
        text-align: left; }
      .left-sidebar .post-stats .sidebar-links .comments-count,
      .left-sidebar .post-stats .sidebar-links .likes-count {
        position: relative;
        font-weight: 400;
        font-family: var(--ff-brand);
        font-size: 1.1rem;
        color: var(--clr-brand); }
      .left-sidebar .post-stats .sidebar-links .comments-count {
        top: -0.15em;
        width: 2em;
        z-index: -1;
        font-style: normal; }
      .left-sidebar .post-stats .sidebar-links .far,
      .left-sidebar .post-stats .sidebar-links .fab {
        width: 1.5em;
        text-align: center;
        font-size: 1.25rem;
        color: var(--clr-accent-dark);
        padding: 0.5em 0 0.5em 0.5em; }
      .left-sidebar .post-stats .sidebar-links .liked {
        color: var(--clr-brand); }
      .left-sidebar .post-stats .sidebar-links .likes-count {
        top: 0;
        padding: 0 0 0 0.5em;
        z-index: -1;
        font-style: normal; }
      .left-sidebar .post-stats .sidebar-links .sidebar-icon:hover {
        cursor: pointer;
        color: var(--clr-brand); }
  @media (min-width: 740px) {
    .left-sidebar {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "post-author post-date post-stats";
      align-items: center;
      width: 100%;
      margin: 0 0 1em;
      padding: 0; }
      .left-sidebar .post-date {
        grid-area: post-date;
        display: inline-flex;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        align-self: auto;
        justify-content: center; }
        .left-sidebar .post-date h3 {
          font-family: var(--ff-side);
          font-size: 1.1rem;
          color: var(--clr-accent-dark); }
      .left-sidebar .post-author {
        grid-area: post-author;
        display: inline-flex;
        top: 0;
        margin: 0;
        padding: 0;
        align-self: auto; }
        .left-sidebar .post-author .hero-profile {
          padding: 0;
          margin: 0;
          height: 4em; }
          .left-sidebar .post-author .hero-profile p {
            text-align: right;
            padding: 0 1em 0 0; }
          .left-sidebar .post-author .hero-profile .img-wrapper {
            text-align: center;
            flex-grow: 1;
            padding: 0; }
            .left-sidebar .post-author .hero-profile .img-wrapper img {
              width: 4em;
              border: 0.25em solid var(--clr-brand);
              border-radius: 50%; }
          .left-sidebar .post-author .hero-profile .hero-name {
            margin: 0;
            font-family: var(--ff-side);
            font-size: 1.1rem;
            color: var(--clr-brand);
            font-weight: 600; }
      .left-sidebar .post-stats {
        grid-area: post-stats;
        display: inline-flex;
        top: 0;
        margin: 0;
        padding: 0;
        align-self: auto; }
        .left-sidebar .post-stats .sidebar-links {
          margin: 0;
          padding: 0;
          text-align: right; } }
  @media (min-width: 1300px) {
    .left-sidebar {
      display: flex;
      position: sticky;
      flex-direction: column;
      top: 5.6em;
      height: fit-content;
      padding: 0 2em 30em; }
      .left-sidebar .post-date {
        top: 1.25em;
        justify-content: flex-end; }
      .left-sidebar .post-author {
        margin: 2em 0 0;
        justify-content: flex-end; }
        .left-sidebar .post-author .hero-profile {
          padding: 0;
          margin: 0;
          height: 6em; }
          .left-sidebar .post-author .hero-profile p {
            text-align: left;
            position: initial;
            padding: 0; }
      .left-sidebar .post-stats {
        flex-direction: column;
        top: 1em;
        align-self: flex-end; } }

.post--preview .post-date {
  display: flex;
  position: absolute;
  top: 23em;
  right: 1.75em;
  width: 100%;
  justify-content: flex-end; }
  .post--preview .post-date h3 {
    padding: 0;
    margin: 0;
    text-align: right;
    font-family: var(--ff-side);
    font-size: 0.9rem;
    color: var(--clr-accent-dark); }
  .post--preview .post-date .moment-date {
    margin-left: 0.5em; }
  @media (min-width: 740px) {
    .post--preview .post-date {
      top: 27em; } }
  @media (min-width: 1300px) {
    .post--preview .post-date {
      top: 31em; } }

footer {
  background-color: var(--clr-dark);
  min-height: 19em;
  padding: 0.5em 0; }
  footer .first-paragraph {
    display: flex;
    position: relative;
    top: 4em;
    justify-content: center;
    padding: 2em 0; }
  footer .second-paragraph {
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    justify-content: center;
    bottom: -6em;
    padding: 0;
    margin: 0 auto; }
    @media (min-width: 1300px) {
      footer .second-paragraph {
        bottom: -7.5em;
        flex-direction: row-reverse; } }
  footer .icons {
    margin: 0;
    padding: 0 0.5em;
    color: var(--clr-light);
    display: inline-flex; }
    footer .icons svg {
      font-size: 2.875rem;
      padding: 0 0.15em; }
  footer .powered-by {
    font-family: var(--ff-side);
    font-size: 0.8rem;
    color: var(--clr-light); }
  footer .copyright {
    display: flex;
    margin: 0 2em;
    text-align: center;
    justify-content: center;
    opacity: 0.8;
    font-family: var(--ff-side);
    font-size: 0.7rem;
    color: var(--clr-accent); }
  footer .terms-of-service {
    display: flex;
    margin: 0 2em -1.65em;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-side);
    font-size: 0.7rem;
    color: var(--clr-accent-dark); }

.comments {
  border-top: 0.1em solid var(--clr-accent);
  margin: 2em 0 8em;
  padding: 0 2em; }
  .comments h1 {
    margin: 1em 0 -1em;
    line-height: 2.5em;
    font-family: var(--ff-side);
    font-size: 1.25rem;
    color: var(--clr-dark); }
  .comments p {
    font-family: var(--ff-notes);
    font-size: 0.9rem;
    color: var(--clr-accent-dark); }
  @media (min-width: 740px) {
    .comments {
      margin: 2em 0 8em; }
      .comments h1 {
        font-family: var(--ff-side);
        font-size: 1.5rem;
        color: var(--clr-dark); }
      .comments p {
        font-family: var(--ff-notes);
        font-size: 0.9rem;
        color: var(--clr-accent-dark); } }

.post-container--more {
  position: relative;
  margin-bottom: -1em; }

.post--readmore {
  font-family: var(--ff-title);
  font-size: 0.9rem;
  color: var(--clr-dark);
  position: relative;
  top: -2em;
  width: 7em;
  margin-left: auto;
  margin-right: 1.5em;
  text-align: center;
  border-radius: 0.5em;
  background-color: var(--clr-brand);
  cursor: pointer;
  transition: all ease-in-out 250ms; }
  @media (min-width: 740px) {
    .post--readmore {
      font-family: var(--ff-title);
      font-size: 1rem;
      color: var(--clr-dark); } }
  @media (min-width: 1300px) {
    .post--readmore {
      font-family: var(--ff-title);
      font-size: 1rem;
      color: var(--clr-dark); } }
  .post--readmore > a {
    color: var(--clr-light);
    font-weight: 400;
    text-decoration: none; }
  .post--readmore:hover {
    transition: all ease-in-out 250ms;
    background-color: var(--clr-dark);
    opacity: 0.9; }

.sticky-title {
  display: flex;
  position: sticky;
  top: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around; }
  @media (min-width: 740px) {
    .sticky-title {
      padding: 0;
      margin: 0 7.5em;
      justify-content: center; } }
  @media (min-width: 1300px) {
    .sticky-title {
      margin: 0 18em; } }
  .sticky-title h1 {
    padding: 2em 0; }

.stuck-title {
  margin: 0;
  padding: 0.75em 1.75em 0 0;
  background-color: var(--clr-light);
  justify-content: flex-end;
  z-index: 1; }
  @media (min-width: 740px) {
    .stuck-title {
      padding: 0.75em 0 0;
      justify-content: center; } }
  .stuck-title h1 {
    padding: 0; }
  .stuck-title .post-title {
    text-align: center;
    line-height: 1.8em;
    letter-spacing: 0;
    font-family: var(--ff-title);
    font-size: 1.25rem;
    color: var(--clr-dark);
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    width: 70vw;
    height: 2.25em;
    align-self: center;
    transition: font-size 350ms ease-out; }
    @media (min-width: 740px) {
      .stuck-title .post-title {
        text-align: center;
        line-height: 1.25em;
        letter-spacing: 0;
        font-family: var(--ff-title);
        font-size: 2.25rem;
        color: var(--clr-dark);
        width: 75vw;
        height: 1.75em;
        padding: 0;
        justify-content: center; } }

.unstuck-title .post-title {
  text-align: center;
  line-height: 1.25em;
  letter-spacing: 0;
  font-family: var(--ff-title);
  font-size: 2.25rem;
  color: var(--clr-dark);
  transition: font-size 250ms ease-out; }
  @media (min-width: 740px) {
    .unstuck-title .post-title {
      text-align: center;
      line-height: 1.25em;
      letter-spacing: 0.0025em;
      font-family: var(--ff-title);
      font-size: 2.875rem;
      color: var(--clr-dark); } }
  @media (min-width: 1300px) {
    .unstuck-title .post-title {
      text-align: center;
      line-height: 1.25em;
      letter-spacing: 0.005em;
      font-family: var(--ff-title);
      font-size: 4.675rem;
      color: var(--clr-dark); } }

.post-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--ff-subtitle);
  font-size: 1.25rem;
  color: var(--clr-dark); }

.post-note {
  background-color: var(--clr-accent);
  padding: 1em 2em;
  margin: 2em 0;
  border-radius: 0.5em;
  border-left: 1em solid var(--clr-brand);
  font-family: var(--ff-notes);
  font-size: 0.9rem;
  color: var(--clr-dark); }

@keyframes grow-text-animation {
  0% {
    text-align: center;
    line-height: 1.25em;
    letter-spacing: 0;
    font-family: var(--ff-title);
    font-size: 2.25rem;
    color: var(--clr-dark); }
  50% {
    color: rgba(0, 0, 0, 0.2); }
  100% {
    text-align: center;
    line-height: 1.25em;
    letter-spacing: 0.005em;
    font-family: var(--ff-title);
    font-size: 4.675rem;
    color: var(--clr-dark); } }

.no-more-posts {
  display: flex;
  border-top: 0.1em solid var(--clr-accent);
  padding: 0 2em;
  min-height: calc(100vh / 2); }
  .no-more-posts .wrapper {
    flex-grow: 1;
    max-width: 100vw; }
  .no-more-posts h1 {
    margin: 1em 0 -1em;
    line-height: 2.5em;
    font-family: var(--ff-side);
    font-size: 1.25rem;
    color: var(--clr-dark); }
  .no-more-posts p {
    font-family: var(--ff-notes);
    font-size: 0.9rem;
    color: var(--clr-accent-dark); }
  @media (min-width: 740px) {
    .no-more-posts {
      justify-content: center; }
      .no-more-posts .wrapper {
        max-width: 40em; }
      .no-more-posts h1 {
        font-family: var(--ff-side);
        font-size: 1.5rem;
        color: var(--clr-dark); }
      .no-more-posts p {
        font-family: var(--ff-notes);
        font-size: 0.9rem;
        color: var(--clr-accent-dark); } }
  @media (min-width: 1300px) {
    .no-more-posts .wrapper {
      max-width: 50em; } }
